@import url("//fonts.googleapis.com/css?family=Nunito:400,600,700,800");
body {
    background-color: #f4f6f9;
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito", "Segoe UI", arial;
    color: #6c757d; }
.bg-primary-custom {
    background-color: #6777ef !important; }

.bg-secondary-custom {
    background-color: #cdd3d8 !important; }

.bg-success-custom {
    background-color: #47c363 !important; }

.bg-info-custom {
    background-color: #3abaf4 !important; }

.bg-warning-custom {
    background-color: #ffa426 !important; }

.bg-danger-custom {
    background-color: #fc544b !important; }

.bg-light-custom {
    background-color: #e3eaef !important; }

.bg-dark-custom {
    background-color: #191d21 !important; }